@import '~antd/dist/antd.css';

body {
  background: #ececec;
}

.react-grid-layout {
  margin-top: 20px;
  background: #DDD;
  border-bottom: 10px solid #DDD;
}

.board-state-wrapper {
  outline: 1px solid darkgray;
}

.board-state {
  background: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.board-task-wrapper {
  padding: 10px;
}

.ant-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  border-radius: 0;
}

.ant-card-bordered {
  border: none;
  /* Temporary color */
  border-left: 5px solid steelblue !important;
}

.ant-card:not(.ant-card-no-hovering):hover {
  outline: 1px solid gray;
}

.ant-card-head {
  padding: 0 24px 0 24px;
}

.ant-card-body {
  height: 100%;
  overflow: hidden;
}

.board-task-description {
  text-align: left;
  padding-top: 10px;
  height: 100%;
}

