@import '~antd/dist/antd.css';

body {
  background: #ececec;
}

.react-grid-layout {
  margin-top: 20px;
  background: #DDD;
  border-bottom: 10px solid #DDD;
}

.board-state {
  background: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgray;
}

.ant-card {
  display: flex;
  flex-direction: column;
  padding: 0 24px 10px 24px;
  overflow: hidden;
  height: 100%;
}

.ant-card-head {
  padding: 0;
}

.ant-card-body {
  height: 100%;
  overflow: hidden;
}

.ant-card:before {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, white 10px, transparent 30px);
  left: 0;
  top: 0;
  content: '';

}

.board-task-description {
  text-align: left;
  padding-top: 10px;

}

